{% extends 'index.html' %}
{% block title %}
- Account
{% endblock %}
{% if message %}
 <div align="center">
        <div class="alert alert-info" style="width:80%">{{ message }}</div>
        </div>
{% endif %}
{% if error %}
 <div align="center">
        <div class="alert alert-danger" style="width:80%">{{ error }}</div>
        </div>
{% endif %}
{% block content %}
	<form action="/account/handler" method="post">
		<h3>Username: {{ username }}</h3>
		Email: <input class="form-control" type="text" name="email" placeholder="{{ email }}"/><br/>
		Password: <input class="form-control" type="password" name="password" placeholder="Password"/><br/>
		Repeat Password: <input class="form-control" type="password" name="password_again" placeholder="Repeat Password"/><br/>
		<h3>Randomizer Algorithim</h3>
		<p>This will allow you to change how mixr decides what to play next. The default option will favor songs with a higher weight a bit more than those with a lower weight. The "Favor Lower Played" option will spread out the randomness a bit so that songs with a lower weight are still played occasionally.</p>
		Default <input type="radio" value="default" class="form-control" name="algorithim" {% if random_type == 0 %} checked {% endif %}/>
		Favor Lower Played <input value="lower" type="radio" class="form-control" name="algorithim" {% if random_type == 1 %} checked {% endif %}/>
		<br/>
		<button class="btn btn-success" type="submit">Submit Changes</button>
	</form>
{% endblock %}
